Source: xkbcomp
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), autoconf, automake, libtool, xorg-util-macros, pkg-config, quilt, bison, libx11-dev (>= 2:1.0.0), libxkbfile-dev (>= 1:1.0.1)
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, libtool, xorg-util-macros, pkg-config, quilt, bison
XCS-Cross-Build-Depends: libx11-dev (>= 2:1.0.0), libxkbfile-dev (>= 1:1.0.1)
Standards-Version: 3.8.0

Package: xkbcomp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cpp
Description: X11 xkbcomp
 xkbcomp is a tool to compile XKB definitions into map files the server
 can use.
