Source: xkbcomp
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 4.0.0), pkg-config, libx11-dev (>= 2:1.0.0), libxkbfile-dev (>= 1:1.0.1), quilt, bison, automake, libtool
XCS-Cross-Host-Build-Depends: debhelper (>= 4.0.0), pkg-config, quilt, bison, automake, libtool
XCS-Cross-Build-Depends: libx11-dev (>= 2:1.0.0), libxkbfile-dev (>= 1:1.0.1)
Standards-Version: 3.7.3

Package: xkbcomp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cpp
Description: X11 xkbcomp
 xkbcomp is a tool to compile XKB definitions into map files the server
 can use.
